.span-5.tile
  %a{ :href => image, :rel => rel }
    %img{ :src => thumb }
  .caption
    %div
      %b
        = properties[:name]
    %div
      = properties[:description]
    %div
      = properties[:type]
    %div
      = properties[:year]
    %div
      = properties[:size]

