- wrap_layout :layout do
  .row
    .content.columns.large-8
      %article
        %h1= current_page.data.title
        %h6.subheader
          Datum:
          %time= current_page.date.strftime('%e.%m.%Y')
        = yield
      = disqus
    %aside.nav.columns.large-4
      = partial 'blog_nav'
